{{#compare @root.data.supplimentaryResponses.banner.hits.total ">" 0 ~}}
  {{#with @root.data.supplimentaryResponses.banner.hits.hits.[0]._source ~}}
    <div class="x-items">
      <a href="{{url}}" class="x-item mdc-theme--secondary-bg" target="_blank" data-ga-link-event="{{Id}}">
        <img class="responsive-img" src="{{og_image}}" alt="{{title}}" height="90">
      </a>
    </div>
    {{>ga documentType="goodmoves-vacancy" documentId=Id hitType='banner-viewed'}}
  {{/with ~}}
{{/compare ~}}