<div class="mdc-select pull-right mdc-elevation--z2" data-mdc-auto-init="MDCSelect">
  <span class="mdc-select__dropdown-icon"></span>
  <select class="mdc-select__native-control" id="sort" name="sort" onchange="this.form.submit();">
    <option value="relevance"{{#compare @root.request.params.query.sort "===" "relevance"}} selected{{/compare}}>Relevance</option>
    <option value="distance"{{#compare @root.request.params.query.sort "===" "distance"}} selected{{/compare}}{{#if @root.request.params.query.location}}{{#compare @root.request.params.query.location "===" ""}} disabled{{/compare}}{{else}} disabled{{/if}}>Distance</option>
    <option value="closing_soon"{{#compare @root.request.params.query.sort "===" "closing_soon"}} selected{{/compare}}>Closing soon</option>
    <option value="newest"{{#compare @root.request.params.query.sort "===" "newest"}} selected{{/compare}}>Newest</option>
    <option value="oldest"{{#compare @root.request.params.query.sort "===" "oldest"}} selected{{/compare}}>Oldest</option>
    <option value="salary_high"{{#compare @root.request.params.query.sort "===" "salary_high"}} selected{{/compare}}>Salary - high to low</option>
    <option value="salary_low"{{#compare @root.request.params.query.sort "===" "salary_low"}} selected{{/compare}}>Salary - low to high</option>
  </select>
  <label class="mdc-floating-label mdc-select__label--float-above" for="sort">
    Sort
  </label>
  <div class="mdc-line-ripple"></div>
</div>