<section class="volunteering bg-grey">
  <div class="header-photo" style="background-image:url('{{~>asset_url url='images/goodmoves-volunteering-header.png'~}}');">
  {{!-- <div class="header-photo" style="background-image:url('{{~>asset_url url='images/goodmoves-volunteering-header-b.png'~}}');"> --}}
    <div class="header-text">
      <h3 class="mdc-typography--headline4">
        Volunteering
      </h3>
      <p>
        More than a million of us across
        Scotland volunteer. And with good
        reason. Volunteering is one of the most
        rewarding things you can do. There are
        thousands of volunteer roles available right now.
        Whether you have a little or lots of time to give
        there should be something here for you.
      </p>
      <p>
        <a href="/volunteering" class="mdc-button mdc-button--raised">
          <span class="far fa-search fa-fw r-margin"></span>
          Search for volunteering opportunities
        </a>
      </p>
      <p class="mdc-typography--body2">
        This search facility is provided by <a href="https://volunteerscotland.net">Volunteer Scotland</a> in
        partnership with <a href="https://scvo.scot">SCVO</a>
      </p>
    </div>
  </div>
</section>