<div class="container-fluid home-banner volunteering-banner bg-white">
  <div class="banner-search overlay" style="background-image: url('https://storage.googleapis.com/volunteerscotland-search/vs-search-homepage-image.jpg');">
    <div class="content page-content">
    </div>
  </div>

  <div class="mdc-layout-grid l-margin-full l-padding">
    <div class="container-content content-page">
      <div class="home-content-primary bg-white">
        <script src="{{#if (compare @root.request.url.host 'goodmoves.local:8080') }}https://volunteerscotland.local:4333/volunteerscotland/widget.js{{else}}https://storage.googleapis.com/scvo-platform-assets/volunteerscotland/widget.js{{/if}} " data-options="{
      'origin': '{{#if (compare @root.request.url.host 'goodmoves.local:8080') }}https://volunteerscotland.local:4333{{else}}https://volunteer.scot{{/if}}',
    }"></script>
        <p class="mdc-typography--body1">
          This search facility is provided by <strong><a href="https://volunteer.scot?utm_source=goodmoves&utm_campaign=volunteering&utm_medium=website">Volunteer Scotland</a></strong> in partnership with <strong><a href="https://scvo.scot?utm_source=goodmoves&utm_campaign=volunteering&utm_medium=website">SCVO</a></strong>.
        </p>
      </div>
    </div>
  </div>
</div>
