{{#if data.primaryResponse.hits.hits.[0] ~}}
<title>Volunteering search results – Goodmoves</title>
<meta property="og:title" content="Volunteering search results – Goodmoves" data-dynamic="true">
{{else}}
<title>Volunteering search results – Goodmoves</title>
<meta property="og:title" content="Volunteering search results – Goodmoves" data-dynamic="true">
{{/if ~}}