<a href="https://scvo.org/support/covid-19" class="bg-yellow">
  <div class="container-fluid v-padding-full">
    <h2 class="no-margin h-padding v-padding-full align-centre" style="margin:0; justify-content:left!important;">
      <span class="fal fa-exclamation-triangle fa-2x fa-fw r-padding-full" aria-hidden="true"></span>
      COVID-19 Third Sector Information Hub
    </h2>
  </div>
</a>