<div class="container-content content-secondary">
  {{#compare data.primaryResponse.hits.total ">" 0 ~}}

  {{> dialog_shortlist}}

  {{#with @root.data.primaryResponse.hits.hits.[0]._source as |organisation| ~}}

  {{> content_organisation_full organisation}}

  {{#compare @root.data.supplimentaryResponses.vacancies_open.hits.total ">" 0 ~}}
  <hr />
  <div class="mdc-typography--headline5">
    Current vacancies
  </div>
  {{#each @root.data.supplimentaryResponses.vacancies_open.hits.hits ~}}
  {{> content_vacancy_list _source}}
  {{/each ~}}
  {{/compare ~}}

  {{#compare @root.data.supplimentaryResponses.vacancies_closed.hits.total ">" 0 ~}}
  {{#compare @root.data.supplimentaryResponses.vacancies_open.hits.total "===" 0 ~}}
  <hr />
  {{/compare}}
  <div class="mdc-typography--headline5">
    Closed vacancies
  </div>
  {{#each @root.data.supplimentaryResponses.vacancies_closed.hits.hits ~}}
  {{> content_vacancy_list _source}}
  {{/each ~}}
  {{/compare ~}}

  {{#compare @root.data.supplimentaryResponses.vacancies_open.hits.total "===" 0 ~}}
  {{#compare @root.data.supplimentaryResponses.vacancies_closed.hits.total "===" 0 ~}}
  <hr />
  <div class="mdc-typography--headline6">
    There are no current or recently closed vacancies available
  </div>
  {{/compare ~}}
  {{/compare ~}}

  {{/with ~}}
  {{else}}
  <p>
    <strong>Error:</strong> the requested organisation could not be found.
  </p>
  {{/compare ~}}
</div>