<div class="mdc-card content-primary content-volunteering mini" data-opportunity-id="{{Id}}" data-opportunity-layout="Mini" data-opportunity-context="{{default viewContext "Other"}}">
  {{> content_opportunity_key_info}}
  {{> content_opportunity_description description=description limit="5rem"}}
  {{> content_opportunity_actions slug=slug Id=Id}}
</div>