$mdc-theme-primary: #EE4E27;
$mdc-theme-primary-medium: #F8B18F;
$mdc-theme-primary-light: #FEEEE7;
$mdc-theme-primary-dark: #D93811;

$mdc-theme-complimentary: #E7E8EA;
$mdc-theme-complimentary-light: #E7E8EA;
$mdc-theme-complimentary-dark: #D2D5D9;

$mdc-theme-secondary: #244555; // Gray 300
$mdc-theme-secondary-light: #E7E8EA; // Gray 100
$mdc-theme-secondary-dark: #244555; // Gray 900

$mdc-theme-footer: #244B5A;
$mdc-theme-footer-light: #FEF9F9;

$mdc-theme-error: #A9201E;

$mdc-theme-tfn-legacy: #3b9db1;
$mdc-theme-tfn: #22E5EB;

$mdc-theme-volunteering: #448532;
$mdc-theme-volunteering-dark: #223c1d;

$primary-color: #FF595A;
$primary-color-light: #ffd6d6;
$primary-color-dark: #C5143D;
$secondary-color: #244B5A;
$secondary-color-dark: darken($secondary-color, 10%) !default;
$gray-color: #F0F1F2;
$gray-color-light: #F0F1F2;

$secondary-color: #244B5A;
$secondary-color-light: lighten($secondary-color, 10%) !default;
$secondary-color-dark: darken($secondary-color, 10%) !default;
$yellow-color: #FFDB00;

$goodmoves-color: $mdc-theme-primary;
$tfn-legacy-color: #3b9db1;
$tfn-color: #22E5EB;
$tfn-color-alt: #00A2BC;
$fs-legacy-color: #537F2C;
$fs-color: #5ba855;

$unit: 1rem;
$padding: 1.2rem;
$thick-line: 5px;
$slow-transition-speed: 0.333s;
$fast-transition-speed: 0.12s;

@import "./node_modules/material-components-web/material-components-web.scss";
@import "./node_modules/@scvo/common/old/common-styles.scss";
@import url(../node_modules/leaflet.markercluster/dist/MarkerCluster.css);
@import url(../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css);

$base-font-family:                  "Ingra", Helvetica, Arial, sans-serif;
$heading-font-family:               "Asap", Helvetica, Arial, sans-serif;
$footer-font-family:                "Ingra", Helvetica, Arial, sans-serif;

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

p,
li,
.mdc-tab,
footer h3,
.mdc-chip,
.mdc-card,
.mdc-button,
.mdc-select,
.mdc-button,
.mdc-form-field,
.mdc-typography,
.mdc-form-field,
.mdc-text-field,
.mdc-dialog__body,
.mdc-dialog__title,
.mdc-card__subtitle,
.mdc-floating-label,
.mdc-card__subtitle,
.mdc-snackbar__text,
.mdc-snackbar__label,
.mdc-dialog__content,
.mdc-dialog__actions,
.mdc-drawer__subtitle,
.mdc-textfield__input,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--title,
.mdc-text-field__input,
.mdc-top-app-bar__title,
.mdc-card__title--large,
.mdc-typography--caption,
.mdc-menu .mdc-list-item,
.supplimentary-list-title,
.mdc-typography--headline,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--headline7,
.mdc-card__supporting-text,
.mdc-select__selected-text,
.mdc-dialog__header__title,
.mdc-drawer .mdc-list-item,
.mdc-select__native-control,
.mdc-typography--subheading2,
.mdc-list-item__secondary-text,
.mdc-simple-menu .mdc-list-item,
.mdc-temporary-drawer .mdc-list-item,
.mdc-drawer--temporary .mdc-list-item,
.mdc-list {
  color: $secondary-color;
  font-family: $base-font-family, Helvetica, Arial, sans-serif;
}
// .mdc-card__title,
// .mdc-drawer__title,
// .mdc-textfield__label,
// .mdc-typography--title,
// .mdc-top-app-bar__title,
// .supplimentary-list-title,
// .mdc-typography--headline,
// .mdc-typography--headline1,
// .mdc-typography--headline2,
// .mdc-typography--headline3,
// .mdc-drawer__content-heading,
// .mdc-top-app-bar__section--logo,
// .mdc-drawer .mdc-list-group__subheader {
//   font-family: $heading-font-family, $base-font-family, Helvetica, Arial, sans-serif;
// }
footer.mdc-layout__footer {
  p, li, div, h3, a, strong {
    font-family: $footer-font-family;
  }
}

.text-secondary {
  color: $secondary-color;
}
.text-primary {
  color: $mdc-theme-primary;
}

.scvo-link-bar {
  background-color: $gray-color-light;
  height: 40px;
  width: 100%;
  ul {
    margin: 0;
    list-style-type: none;
    li {
      margin: 0;
      display: inline;
    }
  }
  .text-link {
    font-size: 91%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    // border-bottom: $thick-line solid transparent;
    padding: 0 0.4rem;
    color: $secondary-color;
    text-decoration: none;
  }
  .brand-coronavirus .text-link:hover {
    background-color: $primary-color;
    color: white;
  }
  .brand-fundingscotland .text-link.active,
  .brand-fundingscotland .text-link:hover {
    background-color: $fs-color;
    color: white;
  }
  .brand-goodmoves .text-link.active,
  .brand-goodmoves .text-link:hover {
    background-color: $goodmoves-color;
    color: white;
  }
  .brand-tfn .text-link:hover {
    background-color: $tfn-color-alt;
    color: white;
  }
  .brand-scvo .brand-logo.active,
  .brand-scvo .brand-logo:hover,
  .brand-scvo .text-link:hover {
    background-color: $primary-color;
    color: white;
  }
  .brand-logo {
    box-sizing: border-box;
    line-height: 38px;
    width: 90px;
    padding: 0 0.4rem;
    img {
      vertical-align: middle;
      width: 100%
    }
  }
  .brand-scvo .brand-logo:hover img,
  .brand-scvo .brand-logo.active img {
    filter: invert(1) contrast(100);
  }
}
//
// .mdc-toolbar-fixed-adjust {
//   padding-top: 176px;
// }

body {
  background-color: $mdc-theme-footer;
}
::-moz-selection {
  color: #fff;
  background: $mdc-theme-primary-dark;
}
::selection {
  color: #fff;
  background: $mdc-theme-primary-dark;
}
.mdc-theme--background {
  background-color: white !important;
}
.mdc-top-app-bar {
  background-color: #fff;
  position: relative;
}

header {
  .container-fluid {
    #main-tab-bar .mdc-tab:first-child {
      padding-left: $unit/2;
    }
    .mdc-top-app-bar__upper {
      .mdc-tab-bar {
        overflow: visible;
        .mdc-tab-scroller,
        .mdc-tab-scroller__scroll-area {
          overflow: visible;
        }
      }
    }
    .mdc-top-app-bar__lower {
      height: auto;
      // background-color: $mdc-theme-primary-medium;
      .mdc-tab-scroller {
        margin-left: $unit;
        border-bottom: 2px solid $mdc-theme-primary;
      }
    }
    .mdc-tab-bar {
      height: auto;
      .mdc-tab {
        border-radius: .1rem .1rem 0 0;
        color: $secondary-color;
        background: linear-gradient(to bottom, $mdc-theme-primary-light 0%, $mdc-theme-primary-light 100%);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 0 0;
        transition: background-size $slow-transition-speed;
        .mdc-tab__text-label {
          border: none !important;
          color: $secondary-color;
        }
      }
      .mdc-tab:hover {
        background-size: 5px 50px;
      }
      .mdc-tab--active {
        background-size: 0 0 !important;
        color: white;
        background-color: $mdc-theme-primary !important;
        .mdc-tab__text-label {
          color: white;
        }
      }
      // .mdc-tab.mdc-tab--active {
      //   background-color: transparent;
      //   // border-bottom: $unit/5 solid $mdc-theme-footer;
      // }
    }
    .scvo-tab-bar {
      background-color: $mdc-theme-footer-light;
      .mdc-tab-bar .mdc-tab:first-child {
        padding-left: $unit;
      }
      .mdc-tab-bar .mdc-tab {
        display: inline-block;
        .mdc-tab--label {
          color: $mdc-theme-footer;
        }
      }
      .brand-logo img {
        height: 36px;
      }
    }
    // #upper-tab-bar {
    //   .mdc-tab:hover .mdc-tab__text-label {
    //     border-bottom-color: $mdc-theme-primary;
    //   }
    //   .mdc-tab.mdc-button:hover .mdc-tab__text-label {
    //     border-bottom-color: transparent;
    //   }
    //   .mdc-tab.mdc-tab--active .mdc-tab__text-label {
    //     border-bottom-color: $mdc-theme-primary;
    //   }
    // }
    // .mdc-top-app-bar__main .mdc-tab-bar,
    // .mdc-top-app-bar__user .mdc-tab-bar {
    //   .mdc-tab {
    //     color: $secondary-color;
    //   }
    //   .mdc-tab:hover .mdc-tab__text-label {
    //     border-bottom-color: rgba(255, 255, 255, 0.75);
    //   }
    //   .mdc-tab.mdc-tab--active .mdc-tab__text-label {
    //     border-bottom-color: rgba(255, 255, 255, 0.9);
    //   }
    // }
    .mdc-top-app-bar__navigation-icon {
      color: $mdc-theme-primary;
    }
    // .mdc-top-app-bar__main,
    // .mdc-top-app-bar__user {
    //   .mdc-menu-surface--anchor {
    //     .mdc-button:hover {
    //       border-bottom-color: rgba(255, 255, 255, 0.6);
    //     }
    //   }
    // }
    .mdc-top-app-bar__section {
      .mdc-top-app-bar__action-item {
        color: $mdc-theme-secondary !important;
      }
    }
  }
}
.mdc-tab-bar {
  height: auto;
  .mdc-tab {
    color: $mdc-theme-secondary;
  }
}

header .container-fluid .mdc-top-app-bar__title .header-text {
  margin-left: $unit;
  .header-text-banner {
    font-weight: 800 !important;
    font-size: 3.3rem;
    line-height: 3.3rem;
    .normal {
      font-weight: 600 !important;
    }
  }
}

.banner-search-home {
  padding: 0 $unit !important;
  background: white;
}

.mdc-drawer {
  background-color: $secondary-color;
  // padding: 0 $unit;
  h3,
  p,
  .mdc-tab__text-label {
    color: white;
  }
  .checkbox-toggle-display-all {
    background: white;
    border-radius: $unit/4;
    h3 {
      color: $secondary-color;
    }
  }
}
.mdc-drawer--occasional {
  margin-left: $unit;
}
.mdc-drawer--temporary {
  .mdc-drawer__header-content {
    background-color: $mdc-theme-primary;
  }
}
.mdc-drawer--permanent {
  background-color: #fff !important;
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
  border-color: $mdc-theme-primary;
  background-color: $mdc-theme-primary;
}

.sign-in-form,
.reset-password-form {
  .middle-line-text {
    border-bottom: 2px solid #dfdfdf;
    span {
      background-color: $mdc-theme-secondary-light;
      color: #555;
    }
  }
  .mdc-button {
    color: #fff;
  }
}

.card-loader {
  background-color: $mdc-theme-secondary-light;
  .card-loader-inner {
    color: $mdc-theme-primary-dark;
  }
}

.card .card-image {
  position: relative;
  padding: 0;
  margin: $unit 0 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: block;
  }
}

.card-image-link {
  position: relative;
  width: 100%;
  margin: $unit 0 0;
  overflow: hidden;
  display: inline-block;
  line-height: 0;
  img {
    border: none;
    line-height: 0;
  }
  .card-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .card-image {
      margin: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      transition: .5s ease;
    }
  }
  .card-header {
    margin-top: $unit;
    .card-title {
      margin: 0;
      line-height: 1.5;
    }
    .card-subtitle {
      line-height: 1.5;
      margin-bottom: .5rem;
    }
  }
  .card-body {
    p {
      line-height: 1.5;
      font-weight: 400;
      margin: 0;
    }
  }
}
.card-footer {
  padding-top: 0;
}
.card-image-link:hover {
  .card-title {
    // color: $primary-color;
    text-decoration: underline;
  }
  .card-image {
    -webkit-transform: scale3d(1.05,1.05,1);
    -moz-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
  }
}
.card-image-link .card-image:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(100deg, $secondary-color, transparent, $primary-color);
  opacity: 0.3333;
  z-index: 2;
  -webkit-transition: $slow-transition-speed ease-in-out;
  -moz-transition: $slow-transition-speed ease-in-out;
  transition: $slow-transition-speed ease-in-out;
}
.bg-tfn .card-image-link .card-image:after {
  background-image: none;
}
.card-image-link:hover .card-image:after {
  opacity: 0;
}

.content-primary-search {
  .head {
    .mdc-button.saved-search {
      color: $mdc-theme-secondary-dark;
      label {
        .far {
          color: $mdc-theme-primary-light;
        }
      }
    }
  }
}

.content-settings-account {
  .mdc-button.mdc-button--delete {
    background-color: #dd4b39 !important;
  }
}
.settings {
  .settings-heading {
    top: $unit*.85;
  }
  .mdc-form-field {
    .mdc-radio {
      .mdc-radio__outer-circle {
        border-color: $mdc-theme-primary !important;
      }
      .mdc-radio__inner-circle {
        border-color: $mdc-theme-primary !important;
      }
    }
  }
}
.content-saved-searches {
  .mdc-list {
    background-color: #fff;
  }
}
.saved-search-remove .far:hover,
.saved-search-remove:hover .far {
  color: $mdc-theme-error !important;
}

.icon-toggle-off {
  color: #999999;
}
.icon-toggle-on {
  color: $mdc-theme-primary-light;
}

#google_translate_element {
  .goog-te-gadget-simple {
    background: transparent;
    border: none;
    .goog-te-gadget-icon {
      display: none;
    }
    .goog-te-menu-value {
      color: $mdc-theme-footer;
      margin: 0;
      span {
        border: none !important;
        color: $mdc-theme-footer !important;
      }
      img,
      span:last-child {
        display: none;
      }
    }
    .goog-te-menu-value:hover {
      text-decoration: underline;
      color: $mdc-theme-footer;
    }
  }
}
.goog-te-menu-frame {
  box-shadow: none;
}

.x-items {
  text-align: center;
  display: inline-block;
  margin: $unit*1.5 auto 0;
  width: 100%;
  .x-item {
    line-height: 0;
    display: inline-block;
    .responsive-img {
      width: 100%;
      max-width: 728px;
      height: auto;
    }
  }
  .x-item-side {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .x-item-side:hover {
    text-decoration: none;
  }
}

.mdc-text-field--textarea .mdc-floating-label {
  background-color: $mdc-theme-secondary-light;
}

a {
  color: $mdc-theme-primary;
}

.mdc-chip {
  background-color: $mdc-theme-secondary;
  color: $mdc-theme-secondary-dark;
  .mdc-chip__icon.mdc-chip__icon--leading {
    color: $mdc-theme-secondary-dark;
  }
  .mdc-chip__checkmark-path {
    stroke: #fff !important;
  }
}
.mdc-chip:hover {
  .mdc-chip__icon--leading {
    color: #000;
  }
}
.mdc-card .mdc-chip {
  background-color: $mdc-theme-complimentary-dark;
}
.mdc-theme--on-primary a,
.mdc-card .mdc-chip.mdc-chip--selected,
.mdc-chip.mdc-chip--selected {
  background-color: $mdc-theme-primary;
  color: #fff;
}
.mdc-card .mdc-chip.mdc-chip--selected:hover,
.mdc-chip.mdc-chip--selected:hover {
  background-color: $mdc-theme-primary-dark;
  color: #fff;
}

.mdc-button .mdc-list-item__graphic {
  line-height: 1.5rem;
}
.mdc-button--raised .mdc-list-item__graphic {
  color: #fff;
}

.mdc-list-item,
.mdc-list--avatar-list .mdc-list-item,
.mdc-list--two-line .mdc-list-item {
  height: auto;
  min-height: 72px;
}
.mdc-list-item {
  min-height: 28px;
}
.mdc-list--avatar-list .mdc-list-item {
  min-height: 56px;
}
.mdc-menu__items .mdc-list-item {
  min-height: 38px;
}
.mdc-list-item__secondary-text {
  white-space: initial;
}
.mdc-list-item__secondary-text::before {
  display: none;
}

.mdc-button--raised {
  background-color: $mdc-theme-primary !important;
  box-shadow: none !important;
}
.mdc-button--raised:hover {
  background-color: $mdc-theme-primary-dark !important;
}

.leaflet-container {
  a {
    color: $mdc-theme-primary;
    -webkit-tap-highlight-color: transparent;
  }
  .leaflet-control.leaflet-bar a {
    color: #000;
  }
}
.leaflet-marker-icon {
  .marker-icon {
    color: $mdc-theme-primary;
    text-shadow: 3px 4px 0.75rem rgba(42,42,42,.75);
  }
  .map-marker-overlay {
    color: $mdc-theme-primary;
    background: #fff;
  }
  .marker-icon.shortlisted {
    color: $mdc-theme-primary-dark;
  }
  .map-marker-overlay.shortlisted {
    color: #fff;
    background: $mdc-theme-primary-dark;
    border: 2px solid #fff;
  }
  .marker-icon.homebased {
    color: $mdc-theme-primary-light;
  }
}

.wfPage,
.wfHideSubmit,
.offstate,
.lengthIndicator,
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.popup-pager .map-content:not(:first-child) {
  display: none;
}

input[type=button].wfPagePreviousButton,
input[type=button].wfPageNextButton{
  height: auto;
  min-height: auto;
  line-height: $unit*1.5;
  letter-spacing: normal;
  min-width: 0;
  // font-size: 1.4rem;
  background: $mdc-theme-primary;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  color: white;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  padding: $unit/4 $unit/2;
  // text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input[type=button].wfPagePreviousButton,
input[type=button].wfPageNextButton {
  margin-top: $unit;
  margin-bottom: $unit;
  cursor: pointer;
}
input[type=button].wfPagePreviousButton {
  margin-right: $unit*1.5;
}
input[type=button].wfPagePreviousButton:hover,
input[type=button].wfPageNextButton:hover,
.btn:hover {
  background: $mdc-theme-primary-dark;
  opacity: 1;
}

.search-info {
  background: #fff;
  color: $mdc-theme-secondary-dark;
}

.mdc-card {
  .mdc-card__actions {
    background-color: $mdc-theme-complimentary-light;
    a {
      color: $mdc-theme-primary-dark;
    }
    .mdc-card__action {
      color: $mdc-theme-primary-dark;
    }
  }
}

.mdc-card.list,
.mdc-card.mini,
.mdc-card.gist,
.mdc-card.search-result {
  background-color: #fff;
  .search-result-article__notes {
    background-color: $mdc-theme-complimentary-light;
  }
  .mdc-card__actions {
    background-color: $mdc-theme-complimentary-light;
    .mdc-card__action {
      color: $mdc-theme-primary-dark;
    }
  }
}
.content-primary.mdc-card.list,
.content-primary.mdc-card.mini,
.content-primary.mdc-card.gist,
.content-primary.mdc-card.search-result {
  border-top: $unit/3 solid $mdc-theme-complimentary-light;
}
.content-primary.mdc-card.list.top-content,
.content-primary.mdc-card.mini.top-content,
.content-primary.mdc-card.gist.top-content,
.content-primary.mdc-card.search-result.top-content {
  border-top-color: $mdc-theme-primary;
  .mdc-card__actions {
    background-color: $mdc-theme-primary;
    .mdc-card__action {
      color: #fff;
    }
    .mdc-chip.mdc-chip--selected {
      background-color: $mdc-theme-primary-dark;
    }
  }
}

.gist.tfn-post {
  .mdc-card {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.55) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.55) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82000000', endColorstr='#57000000',GradientType=0 );
    padding: $unit;
    .mdc-card__title,
    .mdc-card__subtitle,
    a {
      color: #fff !important;
    }
  }
  .mdc-card.no-image {
    background: #000;
  }
}
.panel-heading {
  background: $mdc-theme-error;
  color: #fff;
}
.mdc-card.full {
  .editor-toolbar,
  .CodeMirror {
    border-bottom: 1px solid $mdc-theme-secondary;
  }
  .text-field-container.user-notes {
    .mdc-text-field--textarea .mdc-floating-label {
      background: #fff !important;
    }
  }
  #content-primary-tab-bar {
    background-color: $mdc-theme-complimentary-light;
    .mdc-tab__icon,
    .mdc-tab__text-label {
      // color: $mdc-theme-primary-dark;
      color: black;
    }
    .mdc-tab-indicator__content {
      background-color: $mdc-theme-primary-dark;
    }
  }
  .content-primary-info-container {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  }
  .mdc-card--full-content {
    .key-info-extra {
      .mdc-chip {
        color: $mdc-theme-secondary-dark;
        background-color: $mdc-theme-complimentary-light;
      }
      .mdc-chip:hover {
        color: $mdc-theme-secondary-light;
        background-color: $mdc-theme-primary-dark;
      }
      a {
        color: $mdc-theme-primary-dark;
      }
    }
    .save-button-block {
      .mdc-typography--caption {
        color: #2c3e50;
      }
    }
  }
}
.mdc-card.list::after, .mdc-card.mini::after, .mdc-card.gist::after, .mdc-card.search-result::after {
  will-change: opacity;
}

hr {
  background-color: $mdc-theme-primary-light;
  height: 0;
  visibility: hidden;
}

a.mdc-drawer__content-heading {
  color: rgba(0, 0, 0, 0.87);
}
.mdc-drawer__content-heading {
  padding: $unit $unit $unit/2;
  .mdc-icon-toggle {
    margin-top: 0;
  }
}

.mdc-icon-button {
  .far:hover {
    color: $mdc-theme-primary-dark;
  }
}

.mdc-card {
  .mdc-card__actions {
    .mdc-card__action--shortlist {
      .fa-stack {
        .fa-circle {
          color: #fff;
        }
      }
    }
    .mdc-chip .mdc-chip__checkmark-path {
      stroke: #fff;
    }
  }
}
.mdc-card.content-primary-shortlisted {
  .mdc-card__actions {
    .mdc-card__action--shortlist:hover .fa-heart {
      color: $mdc-theme-primary-dark;
    }
  }
}

/* Typeahead */
.twitter-typeahead {
  .tt-menu {
    background-color: #fff;
    .tt-suggestion:hover,
    .tt-cursor {
      background-color: $mdc-theme-complimentary-light;
    }
  }
}

#search-terms {
  .mdc-chip,
  .mdc-chip:hover {
    .mdc-chip__icon,
    .mdc-chip__text {
      color: #fff;
    }
  }
}

.container-content,
#search-tab-bar,
#home-tab-bar {
  .mdc-tab__icon,
  .mdc-tab__text-label {
    color: $mdc-theme-secondary-dark;
  }
  .mdc-tab-indicator__content {
    background-color: $mdc-theme-secondary-dark;
  }
}

.container-content.content-page {
  margin: 0 auto;
  padding: $unit*2 0;
  .x-items {
    margin-top: 0;
  }
  .mdc-card.full {
    background-color: #fff;
  }
}

.mdc-card {
  .mdc-card__info--content-secondary,
  .mdc-card__info--content-primary {
    .mdc-card__info--content-primary-title {
      a .top-content {
        background-color: $mdc-theme-complimentary-dark !important;
        color: #000;
      }
    }
  }
}

.mdc-card.full {
  .mdc-card__info--content-primary-row {
    .mdc-card__media--content-secondary {
      background-color: #fff;
    }
    .fa-li {
      .fa-fw {
        color: $mdc-theme-secondary-dark;
      }
    }
  }
  .mdc-card__info--content-secondary-row {
    background-color: #fff;
  }
}

.search-form {
  .geo-lookup {
    color: $mdc-theme-primary !important;
  }
  .geo-lookup:hover {
    color: $mdc-theme-primary-dark !important;
  }
  .search-distance {
    color: rgba(0, 0, 0, 0.7);
  }
  .checkbox-toggle-display-all,
  .checkbox-toggle-display-checked {
    // padding: 0 $unit/2;
    padding: 0;
    margin: 0 $unit;
  }
  .mdc-button .fa-search,
  .mdc-button .fa-search-plus {
    position: unset;
    margin-left: $unit/2;
    margin-right: -($unit/4);
  }
}

.bg-yellow,
a.bg-yellow {
  background: $yellow-color !important;
  color: $secondary-color;
  text-decoration: none;
}
a.bg-yellow {
  border: none;
  display: block;
  .fa-fw,
  h2,
  h3,
  h4,
  p {
    text-decoration: none;
    transition: color $slow-transition-speed;
  }
  .columns {
    margin-left: -($padding/2);
    margin-right: -($padding/2);
    .column {
      padding-left: $padding/2;
      padding-right: $padding/2;
    }
  }
}
a.bg-yellow:hover {
  .fa-fw,
  h2,
  h3,
  h4,
  p {
    color: $primary-color-dark;
  }
}
.banner-coronavirus-info-hub {
  padding: 0 $unit/2;
  .fa-ul {
    margin-left: $unit*3.5 !important;
    margin-bottom: 0 !important;
    li {
      margin: 0;
    }
    .fa-li {
      top: $unit/10;
      left: -($unit*3.5);
      width: $unit*3.5;
    }
  }
  .banner-content {
    padding-left: $unit;
    p {
      font-weight: 400;
    }
  }
}
.no-margin {
  padding: 0;
  margin: 0;
}

// Pagination ==================================================================

.pagination {
  li {
    a {
      color: $mdc-theme-secondary-dark;
    }
    a.pagination-arrow {
      color: $mdc-theme-secondary-dark;
    }
  }
  li.disabled a.pagination-arrow {
    color: $mdc-theme-secondary-dark;
  }
  li.current-page {
    background-color: $mdc-theme-complimentary-dark;
  }
  li:hover,
  li.current-page:hover {
    background-color: $mdc-theme-primary-dark;
    a {
      color: $mdc-theme-secondary-light;
    }
  }
  li.disabled:hover {
    background-color: inherit !important;
  }
}

// Lists =======================================================================

footer,
.browse main,
.browse-areas,
.home-browse {
  .mdc-list {
    .mdc-list-item {
      .mdc-list-item__text {
        color: $mdc-theme-primary;
      }
    }
  }
}
.home-browse,
.browse-areas,
.browse main {
  .browse-title-working-patterns {
    margin-top: 24px;
  }
}

.home-banner {
  // .banner-search {
  //   // background-size: 85%;
  //   // background-position: 100% center;
  //   .page-content {
  //     .search-form {
  //       background-color: rgba(255, 255, 255, 0.75);
  //     }
  //   }
  // }
  // .banner-search.overlay {
  //   .content {
  //     .mdc-card__actions {
  //       .mdc-button {
  //         border: 0.125rem solid #fff !important;
  //         color: #fff !important;
  //       }
  //       .mdc-button:hover {
  //         background: #fff !important;
  //         color: $mdc-theme-primary-dark !important;
  //         border-color: $mdc-theme-primary-dark !important;
  //       }
  //     }
  //     .search-form {
  //       .extra-options {
  //         color: #777;
  //         a {
  //           color: #555;
  //         }
  //       }
  //     }
  //     .overlay-content {
  //       .header-extra,
  //       .header-text {
  //         color: #fff;
  //       }
  //     }
  //   }
  // }
}

.volunteering-banner {
  padding-bottom: $unit;
  .banner-search.overlay {
    background-size: cover;
    background-position: center center;
    .content {
      background-image: none !important;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-height: 15vh;
      background-color: transparent;
      padding: $unit*15 0 $unit;
      .search-form {
        min-width: 45%;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: $unit $unit $unit/2;
        border-radius: 0;
        box-shadow: none;
        background-color: white;
        .mdc-typography--headline6 {
          margin-top: 0;
        }
      }
    }
  }
  .home-browse {
    border-bottom: none;
  }
  .mdc-typography--headline7 {
    margin-top: $unit;
  }
  .home-content-primary {
    margin-bottom: 0;
  }
  .content-primary.mdc-card.mini {
    border-top: none;
  }
  .mdc-card.mini.content-volunteering .mdc-card__info--content-primary-row {
    flex: 0 0 auto;
  }
  // .home-browse,
  // #home-browse-collapse,
  // #home-browse-collapse .home-content-primary,
  // .content-primary.mdc-card.mini,
  // .mdc-card.mini .mdc-card__actions {
  //   background-color: $mdc-theme-secondary-light;
  // }
  // .home-content-primary {
  //   background-color: white;
  // }
  #search-terms.mdc-chip-set .mdc-chip,
  .search-form .geo-lookup,
  .home-browse .mdc-list .mdc-list-item .mdc-list-item__text,
  a {
    color: $mdc-theme-volunteering !important;
  }
  #search-terms.mdc-chip-set .mdc-chip:hover,
  .search-form .geo-lookup:hover,
  .home-browse .mdc-list .mdc-list-item:hover .mdc-list-item__text,
  a:hover,
  a:active {
    color: $mdc-theme-volunteering-dark !important;
  }
  .scroll-button .scroll-icon,
  .mdc-button.mdc-button--raised {
    background-color: $mdc-theme-volunteering !important;
  }
  .scroll-button:hover .scroll-icon,
  .mdc-button.mdc-button--raised:hover {
    background-color: $mdc-theme-volunteering-dark !important;
  }
}

a[href^="http://search.volunteerscotland.net"]::after,
a[href^="https://search.volunteerscotland.net"]::after {
  font-family: 'Font Awesome\ 5 Pro';
  content: "\f08e";
  font-weight: 400;
  margin-left: 0.25rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1.2rem;
  font-size: 70%;
  top: -0.1rem;
  position: relative;
}
a[href^="http://search.volunteerscotland.net"].noext::after,
a[href^="https://search.volunteerscotland.net"].noext::after {
  content: ""
}

.content-volunteering-search {
  .search-info {
    box-shadow: none !important;
    background-color: transparent;
    padding: 0;
  }
}

.home-browse {
  .mdc-button {
    .mdc-icon-toggle {
      color: #fff;
    }
  }
}

.home-content {
  background-color: $mdc-theme-secondary-light;
}
.home-content-primary {
  background-color: $mdc-theme-secondary-light;
}
.home {
  .currently-recruiting {
    box-shadow: none !important;
    margin: 0;
  }
}
.home-browse {
  background-color: $mdc-theme-complimentary-light;
  border-bottom: $unit/5 solid $mdc-theme-primary-light;
}

.tfn-latest {
  background-color: $mdc-theme-tfn;
  padding: 0 1.5rem 0 !important;
  margin-bottom: 0;
  .mdc-layout-grid__inner {
    grid-gap: 2.4rem;
  }
  .card {
    width: 100%;
  }
  .mdc-typography--headline5 img {
    max-width: 175px;
    vertical-align: middle;
    display: inline-block;
    margin-right: $unit;
  }
  .card-image-link .card-image:after {
    background-image: none;
  }
  a,
  p,
  h4,
  .mdc-typography--headline5 {
    color: $secondary-color;
  }
  .card-image-link:hover .card-title,
  a:hover {
    color: $secondary-color-light;
    text-decoration: none;
  }
  .gist {
    .mdc-card__subtitle {
      color: $secondary-color;
    }
  }
}

.currently-recruiting {
  padding: $unit/4 0 $unit/3 !important;
  background-color: #fff;
  .mdc-layout-grid__inner {
    grid-gap: 0;
  }
  .content-secondary-logo:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .content-secondary-logo {
    border-radius: 0;
    padding: 0 $unit*1.5 $unit*1.5;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    img {
      mix-blend-mode: multiply;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: auto;
      transition: $slow-transition-speed;
    }
  }
}

.scroll-button {
  .scroll-icon {
    background-color: $mdc-theme-primary;
    color: #fff;
  }
}
.scroll-button:hover {
  .scroll-icon {
    background-color: $mdc-theme-primary-dark;
  }
}
.scroll-button.scroll-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 50%, $mdc-theme-secondary-light 50.01%, $mdc-theme-secondary-light);
}
.scroll-button.scroll-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 50%, $mdc-theme-secondary-light 50.01%, $mdc-theme-secondary-light);
}
.scroll-button.scroll-left:hover {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.3) 50%, $mdc-theme-secondary-light 50.01%, $mdc-theme-secondary-light);
}
.scroll-button.scroll-right:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.3) 50%, $mdc-theme-secondary-light 50.01%, $mdc-theme-secondary-light);
}

// Footer ======================================================================

footer.mdc-layout__footer {
  border-top: none;
  box-shadow: none;
  h3 {
    color: white;
    border-bottom: none;
    text-transform: none;
    font-size: 1.4rem;
  }
  p,
  a,
  a:hover,
  .about a,
  .about a:hover,
  .mdc-layout-grid p {
    color: white;
  }
  a {
    transition: color $slow-transition-speed;
    // border-bottom: $thick-line solid transparent;
  }
  a.brand-logo {
    border: none !important;
  }
  .mdc-list .mdc-list-item a:hover,
  .about a:hover,
  a:hover {
    color: $primary-color;
    text-decoration: none !important;
    // border-bottom: $thick-line solid white;
  }
  .fa-ul {
    .fa-li {
      .fas, .fal, .far, .fab {
        color: white;
      }
    }
  }
  .footer-main {
    margin-bottom: 0;
    padding: $unit*1.5 $unit*1.5 $unit;
    // background-color: $mdc-theme-footer;
  }
  .footer-copyright {
    padding-left: $unit*1.5;
    padding-right: $unit*1.5;
    p {
      line-height: 1.4rem;
    }
  }
}

// @media screen and (min-width: 1551px) {
//   .home-banner .banner-search.overlay .content {
//     background-image: linear-gradient(80deg, rgb(68, 133, 50), rgb(68, 133, 50) 34.5%, transparent 34.58%, transparent);
//   }
// }
// @media screen and (min-width: $mobile-landscape-breakpoint + 1) and (max-width: 1550px) {
//   .home-banner .banner-search.overlay .content {
//     background-image: linear-gradient(80deg, rgb(68, 133, 50), rgb(68, 133, 50) 40%, transparent 40.08%, transparent);
//   }
// }
// @media screen and (max-width: 1260px) {
//   .home-banner .banner-search {
//     background-size: cover;
//     background-position: center center;
//   }
// }
// @media screen and (min-width: $mobile-breakpoint + 1) and (max-width: $mobile-landscape-breakpoint) {
//   .home-banner .banner-search.overlay .content {
//     background-image: linear-gradient(80deg, rgb(68, 133, 50), rgb(68, 133, 50) 66%, transparent 66.08%, transparent);
//   }
//   .mdc-top-app-bar {
//     height: 100px;
//   }
//   // .mdc-toolbar-fixed-adjust {
//   //   padding-top: 100px;
//   // }
// }
@media screen and (max-width: $mobile-breakpoint) {
//   .mdc-top-app-bar {
//     height: 100px;
//   }
//   // .mdc-toolbar-fixed-adjust {
//   //   padding-top: 100px;
//   // }
//   .home-banner .banner-search {
//     background-size: cover !important;
//     background-position: center center !important;
//   }
//   .scroll-button.scroll-left {
//     background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)) !important;
//   }
//   .scroll-button.scroll-right {
//     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)) !important;
//   }
//   .home-banner .banner-search.overlay .content {
//     background-color: rgb(68, 133, 50);
//   }
  .volunteering-banner .banner-search.overlay .content {
    padding: 0;
  }
  .currently-recruiting .content-secondary-logo {
    padding: 0 $unit/2 1px;
  }
  .volunteering-banner {
    .mdc-layout-grid.l-margin-full {
      margin-left: 0;
    }
    .mdc-layout-grid.l-padding {
      padding-left: 0;
    }
    .t-margin-full {
      margin-top: 0;
    }
  }
  .settings .settings-heading {
    display: block;
  }
}

.search-result-article__notes .faded-overflow {
  &:before {
    background: linear-gradient(rgba(236, 242, 233, 0), rgba(236, 242, 233, 1));
  }
}

.after-textfield-action {
  color: $mdc-theme-primary-dark;
}

.mdc-button--warning {
  color: $mdc-theme-error !important;
}

.mdc-button--raised.mdc-button--warning {
  background-color: $mdc-theme-error !important;
  color: #fff !important;
}

@media screen and (min-width: $desktop-landscape-breakpoint + 1) {
  .currently-recruiting {
    .mdc-layout-grid__cell--span-2, .mdc-layout-grid__cell--span-2-desktop {
      grid-column-end: span 1;
    }
  }
}

@media print {
  body,
  .mdc-theme--background {
    background: white !important;
  }
  header,
  aside,
  #content-primary-tab-bar,
  #map-content-primary,
  .container-map,
  .mdc-tab-scroller,
  .content-related,
  .mdc-drawer-scrim,
  .tfn-latest,
  .headroom--pinned,
  .mdc-card__actions,
  .x-items,
  footer {
    display: none !important;
  }
  .mdc-card.full .panel {
    display: block !important;
  }
  main {
    padding-top: 0 !important;
  }
  .mdc-card.full .mdc-card__info--content-primary-row {
    padding-bottom: 0 !important;
  }
  .mdc-card.full {
    margin-top: 0 !important;
  }
  .mdc-card.full .mdc-card--full-content .key-info-extra {
    padding: 0 !important;
  }
  .detailed-info {
    padding: $unit 0 0 !important;
  }
  .container-content {
    max-width: 100% !important;
    padding-right: 0 !important;
    margin: 0 !important;
  }
  .mdc-card__info--content-primary-title {
    margin-top: 0 !important;
  }
  .mdc-card,
  .mdc-card.full .content-primary-info-container,
  .mdc-card.full .mdc-card__info--content-primary-row .mdc-card__media--content-secondary {
    box-shadow: none !important;
  }
  .mdc-card.full .mdc-card__info--content-primary .fa-ul.last,
  .mdc-card.search-result .mdc-card__info--content-primary .fa-ul.last {
    width: 100% !important;
  }
  .mdc-card.full .mdc-card__info--content-primary .fa-ul.last {
    margin-left: 0 !important;
  }
}