<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=bccdd0b3d226f315215daed4a0cac547eba1d6b2">
</script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=bccdd0b3d226f315215daed4a0cac547eba1d6b2">
</script>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer container-content content-page">
  <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove t-margin b-margin-full" id="0" role="form">
    <div class="wfPage" id="wfPgIndex-1">
      <div class="section pageSection" id="tfa_26">
        <h1 id="tfa_26-T">Questionnaire</h1>

        <p>
          Take part in our survey and be entered into our draw for your chance to win an Apple iPad!
        </p>
        <p>
          Goodmoves is run by the Scottish Council for Voluntary Organisations (SCVO). We are refreshing the Goodmoves brand and enhancing the service we provide, so it is more modern and better suited to your needs. This questionnaire will ask your thoughts on your experience of Goodmoves. This survey will only take 10 minutes to complete and we won't share your data or responses with any other organisations. If you have any questions about this survey, please email them to <a href="mailto:enquiries@goodmoves.org.uk">enquiries@goodmoves.org.uk</a>
        </p>

        <div class="oneField t-margin-full field-container-D" id="tfa_1-D">
          <label id="tfa_1-L" class="form-label preField" for="tfa_1">Why do you choose to use the Goodmoves service?</label>
          <br>
          <div class="inputWrapper">
            <textarea id="tfa_1" name="tfa_1" title="Why do you choose to use the Goodmoves service?" class="" style="width:100%;" rows="4"></textarea>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_2-D">
          <label id="tfa_2-L" class="form-label preField" for="tfa_2">If you had to tell a friend about Goodmoves, how would you describe it?</label>
          <br>
          <div class="inputWrapper">
            <textarea id="tfa_2" name="tfa_2" title="If you had to tell a friend about Goodmoves, how would you describe it?" class="" style="width:100%;" rows="4"></textarea>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_3-D">
          <label id="tfa_3-L" class="form-label preField" for="tfa_3">What could be better about the website and the user experience?</label>
          <br>
          <div class="inputWrapper">
            <textarea id="tfa_3" name="tfa_3" title="What could be better about the website and the user experience?" class="" style="width:100%;" rows="4"></textarea>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_4-D">
          <label id="tfa_4-L" class="form-label preField" for="tfa_4">What do you think about Goodmoves having a new look and feel, including the logo changing colour?</label>
          <br>
          <div class="inputWrapper">
            <textarea id="tfa_4" name="tfa_4" title="What do you think about Goodmoves having a new look and feel, including the logo changing colour?" class="" style="width:100%;" rows="4"></textarea>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_5-D" role="radiogroup" aria-labelledby="tfa_5-L" data-tfa-labelledby="-L tfa_5-L">
          <label id="tfa_5-L" class="form-label preField">Have your job seeking needs or priorities changed as a result of COVID?</label>
          <br>
          <div class="inputWrapper">
            <span id="tfa_5" class="choices vertical">
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_6" class="" id="tfa_6" name="tfa_5" data-conditionals="#tfa_8,#tfa_9" aria-labelledby="tfa_6-L" data-tfa-labelledby="tfa_5-L tfa_6-L">
                <label class="form-label postField" id="tfa_6-L" for="tfa_6">
                  <span class="input-radio-faux"></span>
                  Yes
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_7" class="" id="tfa_7" name="tfa_5" aria-labelledby="tfa_7-L" data-tfa-labelledby="tfa_5-L tfa_7-L">
                <label class="form-label postField" id="tfa_7-L" for="tfa_7">
                  <span class="input-radio-faux"></span>
                  No
                </label>
              </span>
            </span>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_8-D">
          <label id="tfa_8-L" class="form-label preField" for="tfa_8">How have they changed?
          </label>
          <br>
          <div class="inputWrapper">
            <textarea id="tfa_8" name="tfa_8" data-condition="`#tfa_6`" title="How have they changed?" class="" style="width:100%;" rows="4"></textarea>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_9-D">
          <label id="tfa_9-L" class="form-label preField" for="tfa_9">What could we do to support these needs?
          </label>
          <br>
          <div class="inputWrapper">
            <textarea id="tfa_9" name="tfa_9" data-condition="`#tfa_6`" title="What could we do to support these needs?" class="" style="width:100%;" rows="4"></textarea>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_10-D">
          <label id="tfa_10-L" class="form-label preField" for="tfa_10">What is most important to you about the service or support that Goodmoves provides?
          </label>
          <br>
          <div class="inputWrapper">
            <textarea id="tfa_10" name="tfa_10" title="What is most important to you about the service or support that Goodmoves provides?" class="" style="width:100%;" rows="4"></textarea>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_11-D" role="group" aria-labelledby="tfa_11-L" data-tfa-labelledby="-L tfa_11-L">
          <label id="tfa_11-L" class="form-label preField">From the list below select the 3 options for information that would most enhance your experience of Goodmoves
          </label>
          <br>
          <div class="inputWrapper">
            <span id="tfa_11" class="choices vertical">
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_12" class="" id="tfa_12" name="tfa_12" aria-labelledby="tfa_12-L" data-tfa-labelledby="tfa_11-L tfa_12-L">
                <label class="form-label postField" id="tfa_12-L" for="tfa_12">
                  <span class="input-checkbox-faux"></span>
                  Finding a suitable ad / job search advice
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_13" class="" id="tfa_13" name="tfa_13" aria-labelledby="tfa_13-L" data-tfa-labelledby="tfa_11-L tfa_13-L">
                <label class="form-label postField" id="tfa_13-L" for="tfa_13">
                  <span class="input-checkbox-faux"></span>
                  Applying for a job
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_14" class="" id="tfa_14" name="tfa_14" aria-labelledby="tfa_14-L" data-tfa-labelledby="tfa_11-L tfa_14-L">
                <label class="form-label postField" id="tfa_14-L" for="tfa_14">
                  <span class="input-checkbox-faux"></span>
                  CV / application form writing
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_15" class="" id="tfa_15" name="tfa_15" aria-labelledby="tfa_15-L" data-tfa-labelledby="tfa_11-L tfa_15-L">
                <label class="form-label postField" id="tfa_15-L" for="tfa_15">
                  <span class="input-checkbox-faux"></span>
                  Remote interviews
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_16" class="" id="tfa_16" name="tfa_16" aria-labelledby="tfa_16-L" data-tfa-labelledby="tfa_11-L tfa_16-L">
                <label class="form-label postField" id="tfa_16-L" for="tfa_16">
                  <span class="input-checkbox-faux"></span>
                  Pursuing a career in the third sector
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_17" class="" id="tfa_17" name="tfa_17" aria-labelledby="tfa_17-L" data-tfa-labelledby="tfa_11-L tfa_17-L">
                <label class="form-label postField" id="tfa_17-L" for="tfa_17">
                  <span class="input-checkbox-faux"></span>
                  Other careers support
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_18" class="" id="tfa_18" name="tfa_18" aria-labelledby="tfa_18-L" data-tfa-labelledby="tfa_11-L tfa_18-L">
                <label class="form-label postField" id="tfa_18-L" for="tfa_18">
                  <span class="input-checkbox-faux"></span>
                  Becoming a volunteer
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_19" class="" id="tfa_19" name="tfa_19" aria-labelledby="tfa_19-L" data-tfa-labelledby="tfa_11-L tfa_19-L">
                <label class="form-label postField" id="tfa_19-L" for="tfa_19">
                  <span class="input-checkbox-faux"></span>
                  Apprenticeships
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_20" class="" id="tfa_20" name="tfa_20" data-conditionals="#tfa_25" aria-labelledby="tfa_20-L" data-tfa-labelledby="tfa_11-L tfa_20-L">
                <label class="form-label postField" id="tfa_20-L" for="tfa_20">
                  <span class="input-checkbox-faux"></span>
                  Training / upskilling opportunities
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_21" class="" id="tfa_21" name="tfa_21" aria-labelledby="tfa_21-L" data-tfa-labelledby="tfa_11-L tfa_21-L">
                <label class="form-label postField" id="tfa_21-L" for="tfa_21">
                  <span class="input-checkbox-faux"></span>
                  Fair Work
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_22" class="" id="tfa_22" name="tfa_22" aria-labelledby="tfa_22-L" data-tfa-labelledby="tfa_11-L tfa_22-L">
                <label class="form-label postField" id="tfa_22-L" for="tfa_22">
                  <span class="input-checkbox-faux"></span>
                  Salary guides / average salaries
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_23" class="" id="tfa_23" name="tfa_23" aria-labelledby="tfa_23-L" data-tfa-labelledby="tfa_11-L tfa_23-L">
                <label class="form-label postField" id="tfa_23-L" for="tfa_23">
                  <span class="input-checkbox-faux"></span>
                  How to access funded employability schemes
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="checkbox" value="tfa_24" class="" id="tfa_24" name="tfa_24" aria-labelledby="tfa_24-L" data-tfa-labelledby="tfa_11-L tfa_24-L">
                <label class="form-label postField" id="tfa_24-L" for="tfa_24">
                  <span class="input-checkbox-faux"></span>
                  Other job seeking, training, or employment goals support?
                </label>
              </span>
            </span>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_25-D">
          <label id="tfa_25-L" class="form-label preField" for="tfa_25">Which training / upskilling opportunities?</label>
          <br>
          <div class="inputWrapper">
            <textarea id="tfa_25" name="tfa_25" data-condition="`#tfa_20`" title="Which training / upskilling opportunities?" class="" style="width:100%;" rows="4"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="wfPage" id="wfPgIndex-2">
      <div class="section pageSection" id="tfa_27">
        <h1 id="tfa_27-T">Demographics</h1>
        <div class="oneField t-margin-full field-container-D" id="tfa_29-D" role="radiogroup" aria-labelledby="tfa_29-L" data-tfa-labelledby="-L tfa_29-L">
          <label id="tfa_29-L" class="form-label preField">How old are you</label>
          <br>
          <div class="inputWrapper">
            <span id="tfa_29" class="choices vertical">
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_30" class="" id="tfa_30" name="tfa_29" aria-labelledby="tfa_30-L" data-tfa-labelledby="tfa_29-L tfa_30-L">
                <label class="form-label postField" id="tfa_30-L" for="tfa_30">
                  <span class="input-radio-faux"></span>
                  16-21
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_31" class="" id="tfa_31" name="tfa_29" aria-labelledby="tfa_31-L" data-tfa-labelledby="tfa_29-L tfa_31-L">
                <label class="form-label postField" id="tfa_31-L" for="tfa_31">
                  <span class="input-radio-faux"></span>
                  22-25
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_32" class="" id="tfa_32" name="tfa_29" aria-labelledby="tfa_32-L" data-tfa-labelledby="tfa_29-L tfa_32-L">
                <label class="form-label postField" id="tfa_32-L" for="tfa_32">
                  <span class="input-radio-faux"></span>
                  26-30
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_33" class="" id="tfa_33" name="tfa_29" aria-labelledby="tfa_33-L" data-tfa-labelledby="tfa_29-L tfa_33-L">
                <label class="form-label postField" id="tfa_33-L" for="tfa_33">
                  <span class="input-radio-faux"></span>
                  31-40
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_34" class="" id="tfa_34" name="tfa_29" aria-labelledby="tfa_34-L" data-tfa-labelledby="tfa_29-L tfa_34-L">
                <label class="form-label postField" id="tfa_34-L" for="tfa_34">
                  <span class="input-radio-faux"></span>
                  41-50
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_35" class="" id="tfa_35" name="tfa_29" aria-labelledby="tfa_35-L" data-tfa-labelledby="tfa_29-L tfa_35-L">
                <label class="form-label postField" id="tfa_35-L" for="tfa_35">
                  <span class="input-radio-faux"></span>
                  50+
                </label>
              </span>
            </span>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_36-D" role="radiogroup" aria-labelledby="tfa_36-L" data-tfa-labelledby="-L tfa_36-L">
          <label id="tfa_36-L" class="form-label preField">Are you</label>
          <br>
          <div class="inputWrapper">
            <span id="tfa_36" class="choices vertical">
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_37" class="" id="tfa_37" name="tfa_36" aria-labelledby="tfa_37-L" data-tfa-labelledby="tfa_36-L tfa_37-L">
                <label class="form-label postField" id="tfa_37-L" for="tfa_37">
                  <span class="input-radio-faux"></span>
                  Male
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_38" class="" id="tfa_38" name="tfa_36" aria-labelledby="tfa_38-L" data-tfa-labelledby="tfa_36-L tfa_38-L">
                <label class="form-label postField" id="tfa_38-L" for="tfa_38">
                  <span class="input-radio-faux"></span>
                  Female
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_39" class="" id="tfa_39" name="tfa_36" data-conditionals="#tfa_40" aria-labelledby="tfa_39-L" data-tfa-labelledby="tfa_36-L tfa_39-L">
                <label class="form-label postField" id="tfa_39-L" for="tfa_39">
                  <span class="input-radio-faux"></span>
                  Other
                </label>
              </span>
            </span>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_40-D">
          <label id="tfa_40-L" class="form-label preField" for="tfa_40">Write-in</label>
          <br>
          <div class="inputWrapper">
            <input type="text" style="width:100%;" id="tfa_40" name="tfa_40" value="" data-condition="`#tfa_39`" title="Write-in" class="">
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_41-D" role="radiogroup" aria-labelledby="tfa_41-L" data-tfa-labelledby="-L tfa_41-L">
          <label id="tfa_41-L" class="form-label preField">What Level of Education do you have</label>
          <br>
          <div class="inputWrapper">
            <span id="tfa_41" class="choices vertical">
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_43" class="" id="tfa_43" name="tfa_41" aria-labelledby="tfa_43-L" data-tfa-labelledby="tfa_41-L tfa_43-L">
                <label class="form-label postField" id="tfa_43-L" for="tfa_43">
                  <span class="input-radio-faux"></span>
                  None
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_44" class="" id="tfa_44" name="tfa_41" aria-labelledby="tfa_44-L" data-tfa-labelledby="tfa_41-L tfa_44-L">
                <label class="form-label postField" id="tfa_44-L" for="tfa_44">
                  <span class="input-radio-faux"></span>
                  School Exams (National 4/5, Highers)
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_45" class="" id="tfa_45" name="tfa_41" aria-labelledby="tfa_45-L" data-tfa-labelledby="tfa_41-L tfa_45-L">
                <label class="form-label postField" id="tfa_45-L" for="tfa_45">
                  <span class="input-radio-faux"></span>
                  FE Qualifications (HNC/HND or other college qualification)
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_46" class="" id="tfa_46" name="tfa_41" aria-labelledby="tfa_46-L" data-tfa-labelledby="tfa_41-L tfa_46-L">
                <label class="form-label postField" id="tfa_46-L" for="tfa_46">
                  <span class="input-radio-faux"></span>
                  University Degree
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_47" class="" id="tfa_47" name="tfa_41" aria-labelledby="tfa_47-L" data-tfa-labelledby="tfa_41-L tfa_47-L">
                <label class="form-label postField" id="tfa_47-L" for="tfa_47">
                  <span class="input-radio-faux"></span>
                  Postgraduate Degree
                </label>
              </span>
            </span>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_48-D">
          <label id="tfa_48-L" class="form-label preField" for="tfa_48">Where do you live? (nearest town/city)</label>
          <br>
          <div class="inputWrapper">
            <input type="text" style="width:100%;" id="tfa_48" name="tfa_48" value="" title="Where do you live? (nearest town/city)" class="">
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_49-D" role="radiogroup" aria-labelledby="tfa_49-L" data-tfa-labelledby="-L tfa_49-L">
          <label id="tfa_49-L" class="form-label preField">How would you describe your ethnicity?</label>
          <br>
          <div class="inputWrapper">
            <span id="tfa_49" class="choices vertical">
              <div class="t-margin">White</div>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_54" class="" id="tfa_54" name="tfa_49" aria-labelledby="tfa_54-L" data-tfa-labelledby="tfa_49-L tfa_54-L">
                <label class="form-label postField" id="tfa_54-L" for="tfa_54">
                  <span class="input-radio-faux"></span>
                  Scottish, English, Welsh, Northern Irish or British
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_55" class="" id="tfa_55" name="tfa_49" aria-labelledby="tfa_55-L" data-tfa-labelledby="tfa_49-L tfa_55-L">
                <label class="form-label postField" id="tfa_55-L" for="tfa_55">
                  <span class="input-radio-faux"></span>
                  Irish
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_56" class="" id="tfa_56" name="tfa_49" aria-labelledby="tfa_56-L" data-tfa-labelledby="tfa_49-L tfa_56-L">
                <label class="form-label postField" id="tfa_56-L" for="tfa_56">
                  <span class="input-radio-faux"></span>
                  Gypsy or Irish Traveller
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_57" class="" id="tfa_57" name="tfa_49" data-conditionals="#tfa_76" aria-labelledby="tfa_57-L" data-tfa-labelledby="tfa_49-L tfa_57-L">
                <label class="form-label postField" id="tfa_57-L" for="tfa_57">
                  <span class="input-radio-faux"></span>
                  Any other White background
                </label>
              </span>
              <div class="t-margin">Mixed or Multiple ethnic groups</div>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_59" class="" id="tfa_59" name="tfa_49" aria-labelledby="tfa_59-L" data-tfa-labelledby="tfa_49-L tfa_59-L">
                <label class="form-label postField" id="tfa_59-L" for="tfa_59">
                  <span class="input-radio-faux"></span>
                  White and Black Caribbean
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_60" class="" id="tfa_60" name="tfa_49" aria-labelledby="tfa_60-L" data-tfa-labelledby="tfa_49-L tfa_60-L">
                <label class="form-label postField" id="tfa_60-L" for="tfa_60">
                  <span class="input-radio-faux"></span>
                  White and Black African
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_61" class="" id="tfa_61" name="tfa_49" aria-labelledby="tfa_61-L" data-tfa-labelledby="tfa_49-L tfa_61-L">
                <label class="form-label postField" id="tfa_61-L" for="tfa_61">
                  <span class="input-radio-faux"></span>
                  White and Asian
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_62" class="" id="tfa_62" name="tfa_49" data-conditionals="#tfa_76" aria-labelledby="tfa_62-L" data-tfa-labelledby="tfa_49-L tfa_62-L">
                <label class="form-label postField" id="tfa_62-L" for="tfa_62">
                  <span class="input-radio-faux"></span>
                  Any other Mixed or Multiple ethnic background
                </label>
              </span>
              <div class="t-margin">Asian or Asian British</div>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_64" class="" id="tfa_64" name="tfa_49" aria-labelledby="tfa_64-L" data-tfa-labelledby="tfa_49-L tfa_64-L">
                <label class="form-label postField" id="tfa_64-L" for="tfa_64">
                  <span class="input-radio-faux"></span>
                  Indian
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_65" class="" id="tfa_65" name="tfa_49" aria-labelledby="tfa_65-L" data-tfa-labelledby="tfa_49-L tfa_65-L">
                <label class="form-label postField" id="tfa_65-L" for="tfa_65">
                  <span class="input-radio-faux"></span>
                  Pakistani
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_66" class="" id="tfa_66" name="tfa_49" aria-labelledby="tfa_66-L" data-tfa-labelledby="tfa_49-L tfa_66-L">
                <label class="form-label postField" id="tfa_66-L" for="tfa_66">
                  <span class="input-radio-faux"></span>
                  Bangladeshi
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_67" class="" id="tfa_67" name="tfa_49" aria-labelledby="tfa_67-L" data-tfa-labelledby="tfa_49-L tfa_67-L">
                <label class="form-label postField" id="tfa_67-L" for="tfa_67">
                  <span class="input-radio-faux"></span>
                  Chinese
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_68" class="" id="tfa_68" name="tfa_49" data-conditionals="#tfa_76" aria-labelledby="tfa_68-L" data-tfa-labelledby="tfa_49-L tfa_68-L">
                <label class="form-label postField" id="tfa_68-L" for="tfa_68">
                  <span class="input-radio-faux"></span>
                  Any other Asian background
                </label>
              </span>
              <div class="t-margin">Black, African, Caribbean or Black British</div>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_70" class="" id="tfa_70" name="tfa_49" aria-labelledby="tfa_70-L" data-tfa-labelledby="tfa_49-L tfa_70-L">
                <label class="form-label postField" id="tfa_70-L" for="tfa_70">
                  <span class="input-radio-faux"></span>
                  African
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_71" class="" id="tfa_71" name="tfa_49" aria-labelledby="tfa_71-L" data-tfa-labelledby="tfa_49-L tfa_71-L">
                <label class="form-label postField" id="tfa_71-L" for="tfa_71">
                  <span class="input-radio-faux"></span>
                  Caribbean
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_72" class="" id="tfa_72" name="tfa_49" data-conditionals="#tfa_76" aria-labelledby="tfa_72-L" data-tfa-labelledby="tfa_49-L tfa_72-L">
                <label class="form-label postField" id="tfa_72-L" for="tfa_72">
                  <span class="input-radio-faux"></span>
                  Any other Black, African or Caribbean background
                </label>
              </span>
              <div class="t-margin">Other ethnic group</div>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_74" class="" id="tfa_74" name="tfa_49" aria-labelledby="tfa_74-L" data-tfa-labelledby="tfa_49-L tfa_74-L">
                <label class="form-label postField" id="tfa_74-L" for="tfa_74">
                  <span class="input-radio-faux"></span>
                  Arab
                </label>
              </span>
              <span class="oneChoice" style="display:block;">
                <input type="radio" value="tfa_75" class="" id="tfa_75" name="tfa_49" data-conditionals="#tfa_76" aria-labelledby="tfa_75-L" data-tfa-labelledby="tfa_49-L tfa_75-L">
                <label class="form-label postField" id="tfa_75-L" for="tfa_75">
                  <span class="input-radio-faux"></span>
                  Any other ethnic group
                </label>
              </span>
            </span>
          </div>
        </div>
        <div class="oneField t-margin-full field-container-D" id="tfa_76-D">
          <label id="tfa_76-L" class="form-label preField" for="tfa_76">Please describe</label>
          <br>
          <div class="inputWrapper">
            <input type="text" style="width:100%;" id="tfa_76" name="tfa_76" value="" data-condition="`#tfa_75` OR `#tfa_72` OR `#tfa_68` OR `#tfa_62` OR `#tfa_57`" title="Please describe" class="">
          </div>
        </div>
      </div>
      <div class="oneField t-margin-full field-container-D" id="tfa_77-D">
        <p>
          To take part in our draw for an Apple iPad 2020 (10.2") please provide your email address so that we can contact you if you win.
        </p>
        <label id="tfa_77-L" class="form-label preField " for="tfa_77">Email address (optional)</label><br>
        <div class="inputWrapper">
          <input type="text" id="tfa_77" name="tfa_77" value="" title="Email address (optional)" class="">
        </div>
      </div>
    </div>
    <div class="actions" id="0-A">
      <input type="submit" data-label="Submit" class="primaryAction mdc-button mdc-button--raised" id="submit_button" value="Submit">
    </div>
    <div style="clear:both">
    </div>
    <input type="hidden" value="4877850" name="tfa_dbFormId" id="tfa_dbFormId">
    <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
    <input type="hidden" value="531b80a76761b60276e5e71dae9f89c0" name="tfa_dbControl" id="tfa_dbControl">
    <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
    <input type="hidden" value="2" name="tfa_dbVersionId" id="tfa_dbVersionId">
    <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
  </form>
</div>